html, body {
	margin: 0;
	padding: 0;
	background: #212121;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #212121;
	z-index: 10000;
	height: 115px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	box-shadow: 5px #000;
}

.header .inner {
	width: 75%;
	margin: 0 auto;
	padding: 0 1.875em;
}

.header .inner img {
	height: 80px;
}

.header h1,
.header nav {
	display: inline-block;
	position: relative;
}

.header h1,
.header nav a {
	line-height: 110px;
	text-decoration: none;
}

.header h1 {
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 4px;
	font-size: 3em;
	margin: 0;
	float: left;
}

.header nav {
	float: right;
}

.header nav a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 600;
	margin: 0 0 0 20px;
	font-size: 1.2em;
	display: inline-block;
}

a .nav_home:hover {
	color: #e53935;
}

a .nav_blog:hover {
	color: #1565C0;
}

a .nav_portfolio:hover {
	color: #00C853;
}

a .nav_about:hover {
	color: #F9A825;
}

a .nav_contact:hover {
	color: #e53935;
}

/* Reduced height */
.header h1,
.header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.header.header-shrink {
	height: 50px;
}

.header.header-shrink h1,
.header.header-shrink nav a {
	line-height: 50px;
}

.header.header-srink h1 {
	font-size: 2em;
}

.footer {
	font-family: 'Josefin Slab', serif;
	background: #252525;
	width: 100%;
	/* position:absolute; */
	bottom: 0;
	left: 0;
}

.footer .inner {
	padding-top: 10px;
	width: 65%;
	margin: auto;
}

.footer .inner .widget {
	width: 33.3333%;
	float: left;
	margin-top: 20px;
	text-align: center;
}

.footer .widget hr {
	color: #212121;
	background-color: #212121;
	height: 1px;
	border: none;
	margin: 8px;
}

.footer_hr {
	margin: 0 auto;
	color: #212121;
	background-color: #212121;
	height: 2px;
	border: none;
	margin-top: 2px;
	width: 70%;
}

.footer .widget_title_portfolio span {
	font-size: 25px;
	color: #FFF;
	padding-bottom: 2px;
	border-bottom: 2px solid #00C853;
}

.footer p {
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	font-size: 15px;
	line-height: 30px;
}

.footer a {
	color: #E0E0E0;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
}

.footer .copyright_info {
	font-family: 'Lato', sans-serif;
	text-align: center;
	background: #212121;
	clear: both;
	padding: 4px;
	color: #FFF;
}

.footer img {
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.widget .subscribe_field input {
	margin-top: 15px;
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	height: 40px;
	width: 70%;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #F5F5F5;
	border-radius: 3px 0 0 3px;
	border: 2px solid;
	border-color: #BDBDBD;
	float: left;
}

.widget .button_portfolio input {
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	width: 30%;
	height: 40px;
	background-color: #00C853;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 800;
	border: none;
	border-radius: 0 3px 3px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}

/* Popover */

.holder {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup {
    background-color: #E0E0E0;
    margin: 15% auto;
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 40px;
    width: 75%;
}

#popup_content {
	color: #212121;
}

.close {
    color: #212121;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Search Bar */

#search {
	position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-top: 20px;
}

#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}

#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}

#label label:hover {
    background: url("../img/search.png") -60px 0
}

#label.active label {
    background: url("../img/search.png") -60px 0
}

#input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 0px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}

#input input {
    display: block;
    position: absolute;
    top: 0;
    left: -450px;
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #23688b;
    color: #fff;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: left 0;
    -moz-transition: left 0;
    -ms-transition: left 0;
    -o-transition: left 0;
    transition: left 0;
}

#input input:focus {
    outline: none
}

#input.focus {
    z-index: 20
}

#input.focus input {
    left: 0;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
}

/* Media Queries */
@media screen and (max-width: 55em) {

	.header .inner {
		width: 100%;
	}

	.header h1,
	.header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.header h1,
	.header nav a {
		line-height: 115px;
	}

	.header nav a {
		margin: 0 10px;
	}

	.header.header-shrink h1,
	.header.header-shrink nav a {
		line-height: 45px;
	}

	.header.header-shrink h1 {
		font-size: 2em;
	}

	.header.header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.header nav a,
	.header.header-shrink nav a {
		line-height: 1;
	}
}

.light_hr {
	color: #E0E0E0;
	background-color: #E0E0E0;
	height: 1px;
	border: none;
	margin: 8px;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: .7em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

ul {
	font-weight: 600;
}

/* Scroll to top animation */

.scroll_to_top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-size: contain;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.home_scroll .scroll_to_top {
	background: url(../svg/scroll/red.svg) no-repeat center;
}

.blog_scroll .scroll_to_top {
	background: url(../svg/scroll/blue.svg) no-repeat center;
}

.portfolio_scroll .scroll_to_top {
	background: url(../svg/scroll/green.svg) no-repeat center;
}

.about_scroll .scroll_to_top {
	background: url(../svg/scroll/yellow.svg) no-repeat center;
}

.scroll_to_top_visible {
 	visibility: visible;
 	opacity: 1;
 	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.fb-follow {
	left: 15px;
	top: -3px;
}

.fb-share-button {
	margin-left: 50px;
	top: -4px;
}

@media only screen and (min-width: 768px) {
	.scroll_to_top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.scroll_to_top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

@media only screen and (max-width: 1366px) {
	.footer .inner {
		width: 75%;
	}
}
