@import "colors";
@import "text";

.card {
  background: $white;
  border-radius: 2px;
  font-family: $font-noto-regular;
  font-size: 14px;
  padding: 16px;
  box-shadow: 1px 1px 2px 2px rgb(222, 222, 222);

  * {
    text-decoration: none !important;
  }

  a {
    color: $black;
  }
}
