/*************
  Font Faces
**************/

@font-face {
  font-family: CutiveMono;
  src: url('../../assets/fonts/CutiveMono-Regular.ttf');
}

@font-face {
  font-family: NotoSansRegular;
  src: url('../../assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: NotoSansBold;
  src: url('../../assets/fonts/NotoSans-Bold.ttf');
}
