@import "colors";
@import "fonts";
@import "text";

.field-input {
  background: $white;
  border-color: $black;
  border-width: 3px;
  border-radius: 5px;
  font-family: $font-raleway-regular;
  font-size: 20px;
  margin: 40px 0;
  padding: 25px;
  height: 60px;
  width: 100%;

  &::placeholder {
    color: $black;
  }

  &.area {
    min-height: 300px;
    margin: 0;
  }
}

.button-submit {
  border-color: $black;
  border-width: 3px;
  border-radius: 5px;
  background: $red-dark;
  cursor: pointer;
  font-family: $font-noto-bold;
  font-size: 20px;
  padding: 10px 75px;
  color: $white;
  margin: 35px 0 45px;
  text-transform: uppercase;
}
