@import "breakpoints";

.social {
  height: 25px;
  margin: 0 8px;
  width: auto;
}

// TODO: Maybe I should try and generalise these classes. Like absolute fit or something.
.portfolio-item {
  width: 100%;
  height: auto;
}

.logo {
  height: 60px;
  width: auto;
  margin: 25px 70px;
}

.post-banner {
  width: 100%;
  min-height: 350px;
}

.tag {
  height: 12.5px;
  width: auto;
}

// TODO: rename this
.tag-2 {
  height: 18px;
  width: auto;
}

.myself {
  height: 200px;
  margin-bottom: 20px;
  width: auto;
}

@media (max-width: $breakpoint-small) {
  .logo {
    height: 45px;
  }
}

@media (min-width: $breakpoint-medium) {
  .social {
    height: 30px;
    margin: 0 10px;
  }

  .post-banner {
    min-height: 150px;
  }

  .logo {
    height: 45px;
    margin: 25px 0;
  }

  .myself {
    height: 250px;
    margin-bottom: 20px;
  }
}

@media (min-width: $breakpoint-large) {
  .social {
    height: 35px;
    margin: 0 0 0 25px;
  }

  .logo {
    height: 60px;
    margin: 25px 0;
  }

  .myself {
    height: 300px;
    margin-bottom: 20px;
  }
}
