@import "breakpoints";
@import "fonts";

$font-content: OpenSansRegular, sans-serif;
$font-monospace: CutiveMono, sans-serif;
$font-title: OpenSansBold, sans-serif;

.title-small, .title-medium, .title-large {
  font-family: $font-title;
}

.content-small, .content-medium, .content-large {
  font-family: $font-content;
}

.monospace {
  font-family: $font-monospace;
}

@media (max-width: $breakpoint-small) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 14px;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 14px;
  }
}

@media (min-width: $breakpoint-small) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-medium) {
  .title-small {
    font-size: 16px;
    line-height: 20px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 30px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 22px;
  }

  .monospace {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-large) {
  .title-small {
    font-size: 18px;
    line-height: 22px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 19px;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-extra-large) {
  .title-small {
    font-size: 19px;
    line-height: 24px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 19px;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}