@import "breakpoints";
@import "fonts";

$font-monospace: CutiveMono, sans-serif;
$font-noto-regular: NotoSansRegular, sans-serif;
$font-noto-bold: NotoSansBold, sans-serif;
$font-raleway-regular: RalewayRegular, sans-serif;

$content-font: RalewayRegular, sans-serif;
$title-font: NotoSansRegular, sans-serif;

.title-small, .title-medium, .title-large, .paragraph {
  font-family: $title-font;
}

.content-small, .content-medium, .content-large {
  font-family: $content-font;
}

.monospace {
  font-family: $font-monospace;
}

@media (max-width: $breakpoint-small) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .paragraph {
    font-size: 12px;
  }

  .monospace {
  }
}

@media (min-width: $breakpoint-medium) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 30px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .paragraph {
    font-size: 12px;
  }

  .monospace {
  }
}

@media (min-width: $breakpoint-large) {
  .title-small {
    font-size: 20px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 40px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 20px;
  }

  .content-large {
    font-size: 25px;
  }

  .paragraph {
    font-size: 16px;
  }

  .monospace {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-extra-large) {
  .title-small {
    font-size: 20px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 18px;
  }

  .content-large {
    font-size: 24px;
  }

  .paragraph {
    font-size: 16px;
  }

  .monospace {
    font-size: 16px;
  }
}