@import "borders";
@import "cards";
@import "colors";
@import "fonts";
@import "footer";
@import "forms";
@import "images";
@import "text";
@import "transforms";

body, #root {
  min-height: 100vh;
  position: relative;

  .main {
    padding-bottom: 70px;
  }
}

.scroll-indicator {
  height: 3px;
}

.sidebar-sticky-offset {
  top: 125px;
}
