@import "borders";
@import "cards";
@import "colors";
@import "fonts";
@import "popups";
@import "positioning";
@import "forms";
@import "images";
@import "text";
@import "transforms";

body, #root {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
}

.point-mouse {
  fill: $blue-dark;
}

#rotation {
  position: absolute;
  font-family: monospace;
  padding: 10px;
  background: $cyan-dark;
}

#rotation input {
  width: 300px;
}

.country {
  fill: $cyan-dark;
  stroke: $black;
  stroke-width: 0.2px;
}

.water {
  fill: $blue-dark;
  stroke: $black;
  stroke-width: 0.2px;
}

.graticule {
  fill: $blue-dark;
  stroke: $blue-dark;
  stroke-width: 0.25px;
}

@media (max-width: $breakpoint-small) {
  .main {
    padding-bottom: 115px;
  }
}

@media (min-width: $breakpoint-small) {
  .main {
    padding-bottom: 130px;
  }
}

@media (min-width: $breakpoint-medium) {
  .main {
    padding-bottom: 90px;
  }
}

@media (min-width: $breakpoint-large) {
  .main {
    padding-bottom: 70px;
  }
}

@media (min-width: $breakpoint-extra-large) {
  .main {
    padding-bottom: 70px;
  }
}
