/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.border-top-black {
  border-top: 2px solid #212121;
}

.border-bottom-black {
  border-bottom: 1px solid #212121;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.title-small {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.title-medium {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
}

.title-large {
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
}

.content-small {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.content-medium {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.content-large {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.paragraph {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

.card {
  background: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.04);
  color: #212121;
  font-family: NotoSansRegular, sans-serif;
  padding: 14px;
  transition-duration: 0.35s;
}
.card * {
  text-decoration: none !important;
}
.card a {
  color: #212121;
}
.card:hover {
  box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.08);
  transition-duration: 0.35s;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: NotoSansRegular;
  src: url("../../assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: NotoSansBold;
  src: url("../../assets/fonts/NotoSans-Bold.ttf");
}
/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: NotoSansRegular;
  src: url("../../assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: NotoSansBold;
  src: url("../../assets/fonts/NotoSans-Bold.ttf");
}
.title-small {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.title-medium {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
}

.title-large {
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
}

.content-small {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.content-medium {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.content-large {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.paragraph {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

.field-input {
  background: #FFF;
  border-color: #212121;
  border-width: 3px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 40px 0;
  padding: 25px;
  height: 60px;
  width: 100%;
}
.field-input::placeholder {
  color: #212121;
}
.field-input.area {
  min-height: 300px;
  margin: 0;
}

.button-submit {
  border-color: #212121;
  border-width: 3px;
  border-radius: 5px;
  background: #FF0A43;
  cursor: pointer;
  font-family: NotoSansBold, sans-serif;
  font-size: 20px;
  padding: 10px 75px;
  color: #FFF;
  margin: 35px 0 45px;
  text-transform: uppercase;
}

.field-input-small {
  background: #FFF;
  border-color: #212121;
  border-width: 1px;
  border-radius: 3px 0 0 3px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 0 10px;
  height: 38px;
  width: 100%;
}
.field-input-small::placeholder {
  color: #212121;
}

.button-submit-small {
  border: 1px solid #212121;
  border-left-style: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-family: NotoSansBold, sans-serif;
  font-size: 20px;
  height: 38px;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
}

.social-icons {
  text-align: right;
}
.social-icons img {
  height: 50px;
  margin: 0 20px;
  width: auto;
}

.logo {
  height: 60px;
  width: auto;
  margin: 25px 70px;
}

.post-banner {
  width: 100%;
  min-height: 350px;
}

.tag {
  height: 12.5px;
  width: auto;
}

.tag-2 {
  height: 18px;
  width: auto;
}

.title-small {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.title-medium {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
}

.title-large {
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
}

.content-small {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.content-medium {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.content-large {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.paragraph {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

.skew-up-top-right {
  margin: 0 -20px -60px;
  padding: 60px 0;
  transform: rotate(-2.5deg);
}

.skew-down-bottom-left {
  margin: -50px -20px 80px;
  padding: 50px 0;
  transform: rotate(-2.5deg);
}

body, #root {
  min-height: 100vh;
}

.scroll-indicator {
  height: 3px;
}

.sidebar-sticky-offset {
  top: 125px;
}

/*# sourceMappingURL=main.css.map */
