/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

.border-top-black {
  border-top: 2px solid #212121;
}

.border-bottom-black {
  border-bottom: 1px solid #212121;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
.title-large {
  line-height: 1;
}

.title-small, .title-medium, .title-large {
  font-family: OpenSansRegular, sans-serif;
  font-weight: bold;
}

.content-small, .content-medium, .content-large {
  font-family: OpenSansRegular, sans-serif;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

@media (max-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
    line-height: 1.25;
  }

  .title-large {
    font-size: 28px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 15px;
    line-height: 1.45;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .title-small {
    font-size: 16px;
    line-height: 20px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 30px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 16px;
    line-height: 1.5;
  }

  .content-large {
    font-size: 22px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .title-small {
    font-size: 18px;
    line-height: 22px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 19px;
    line-height: 1.25;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .title-small {
    font-size: 19px;
    line-height: 24px;
  }

  .title-medium {
    font-size: 26px;
    line-height: 1.2;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 18px;
    line-height: 1.4;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
.card {
  background: #FFF;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.04);
  color: #212121;
  font-family: OpenSansRegular, sans-serif;
  padding: 14px;
  transition-duration: 0.35s;
}
.card * {
  text-decoration: none !important;
}
.card a {
  color: #212121;
}
.card:hover {
  box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.08);
  transition-duration: 0.35s;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

#globe .country {
  fill: #FFF;
  stroke: #212121;
  stroke-width: 0.2px;
}
#globe .country-hovered {
  fill: #212121;
  stroke: #212121;
  stroke-width: 0.2px;
}
#globe .country-visited {
  fill: #00FFBF;
  stroke: #212121;
  stroke-width: 0.2px;
}
#globe .water {
  fill: #016EFF;
  stroke: #212121;
  stroke-width: 0.2px;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

.popup-overlay {
  background: #FFFAFBCC;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.popup-overlay .popup {
  background: #FFF;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 1;
  position: relative;
  width: 85%;
}
.popup-overlay .popup .popup-close {
  background: #FF0A43 url("../../assets/images/close.png") no-repeat 12px 12px;
  background-size: 16px 16px;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  opacity: 1;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 40px;
}
.popup-overlay .popup img {
  height: 55px;
  width: auto;
}
@media (min-width: 768px) {
  .popup-overlay .popup {
    width: 55%;
  }
  .popup-overlay .popup img {
    height: 75px;
    width: auto;
  }
}

.absolute-bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.absolute-bottom-right {
  bottom: 0;
  right: 0;
  position: absolute;
}

/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
.title-large {
  line-height: 1;
}

.title-small, .title-medium, .title-large {
  font-family: OpenSansRegular, sans-serif;
  font-weight: bold;
}

.content-small, .content-medium, .content-large {
  font-family: OpenSansRegular, sans-serif;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

@media (max-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
    line-height: 1.25;
  }

  .title-large {
    font-size: 28px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 15px;
    line-height: 1.45;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .title-small {
    font-size: 16px;
    line-height: 20px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 30px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 16px;
    line-height: 1.5;
  }

  .content-large {
    font-size: 22px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .title-small {
    font-size: 18px;
    line-height: 22px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 19px;
    line-height: 1.25;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .title-small {
    font-size: 19px;
    line-height: 24px;
  }

  .title-medium {
    font-size: 26px;
    line-height: 1.2;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 18px;
    line-height: 1.4;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
.field-input {
  background: #FFF;
  border-color: #212121;
  border-width: 2px;
  border-radius: 5px;
  font-family: OpenSansRegular, sans-serif;
  font-size: 16px;
  padding: 8px 14px;
  height: 40px;
  width: 100%;
}
.field-input::placeholder {
  color: #212121;
}
.field-input.area {
  min-height: 200px;
  margin: 0;
}

.button-submit {
  border-color: #212121;
  border-width: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-family: OpenSansRegular, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 0 55px;
  height: 40px;
  color: #FFF;
  text-transform: uppercase;
}

.field-input-small {
  background: #FFF;
  border-color: #212121;
  border-width: 1px;
  border-radius: 3px 0 0 3px;
  font-family: OpenSansRegular, sans-serif;
  font-size: 16px;
  padding: 0 10px;
  height: 38px;
  width: 100%;
}
.field-input-small::placeholder {
  color: #212121;
}

.button-submit-small {
  border: 1px solid #212121;
  border-left-style: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-family: OpenSansRegular, sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 38px;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .field-input {
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    height: 60px;
    width: 100%;
  }
  .field-input.area {
    min-height: 200px;
    margin: 0;
  }

  .button-submit {
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 75px;
    margin: 20px 0 30px;
    height: 50px;
  }

  .field-input-small {
    border-width: 1px;
    border-radius: 3px 0 0 3px;
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
  }

  .button-submit-small {
    border: 1px solid #212121;
    border-left-style: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .field-input {
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    height: 55px;
  }
  .field-input.area {
    min-height: 275px;
  }

  .button-submit {
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 75px;
    margin: 25px 0 40px;
    height: 50px;
  }

  .field-input-small {
    border-width: 1px;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    padding: 0 10px;
    height: 38px;
  }

  .button-submit-small {
    border: 1px solid #212121;
    border-left-style: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 20px;
    height: 38px;
    width: 100%;
  }
}
.social {
  height: 25px;
  margin: 0 8px;
  width: auto;
}

.portfolio-item {
  height: auto;
  width: 100%;
}

.logo {
  height: 60px;
  width: auto;
  margin: 25px 70px;
}

.post-banner {
  width: 100%;
  min-height: auto;
}

.tag {
  height: 12.5px;
  width: auto;
}

.tag-2 {
  height: 18px;
  width: auto;
}

.tag-3 {
  height: 25px;
  width: auto;
}

.myself {
  height: 200px;
  margin-bottom: 20px;
  width: auto;
}

.icon-scroll img {
  cursor: pointer;
  height: 50px;
  width: auto;
}

@media (max-width: 576px) {
  .logo {
    height: 45px;
  }
}
@media (min-width: 768px) {
  .social {
    height: 30px;
    margin: 0 10px;
  }

  .logo {
    height: 45px;
    margin: 25px 0;
  }

  .myself {
    height: 250px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .social {
    height: 35px;
    margin: 0 0 0 25px;
  }

  .logo {
    height: 60px;
    margin: 25px 0;
  }

  .myself {
    height: 300px;
    margin-bottom: 20px;
  }
}
/***********
  Classes
************/
.color-white {
  color: #FFF;
}

.color-black {
  color: #212121;
}

.color-blue-dark {
  color: #016EFF;
}

.color-cyan-dark {
  color: #00FFBF;
}

.color-red-dark {
  color: #FF0A43;
}

.bg-blue-dark {
  background: #016EFF;
}

.bg-cyan-dark {
  background: #00FFBF;
}

.bg-red-dark {
  background: #FF0A43;
}

.bg-yellow-dark {
  background: #F1FF38;
}

.bg-blue-light {
  background: #FAFCFF;
}

.bg-cyan-light {
  background: #FAFFFE;
}

.bg-red-light {
  background: #FFFAFB;
}

.bg-yellow-light {
  background: #FEFFF8;
}

.hover-red {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red:hover {
  color: #FF0A43;
  text-decoration: none;
}
.hover-red-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-red-white:hover {
  background: #FFF;
  color: #FF0A43;
  text-decoration: none;
}
.hover-blue {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-blue:hover {
  color: #016EFF;
  text-decoration: none;
}
.hover-cyan {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-cyan:hover {
  color: #00FFBF;
  text-decoration: none;
}
.hover-yellow {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-yellow:hover {
  color: #F1FF38;
  text-decoration: none;
}
.hover-white {
  padding: 0 3px;
  transition-duration: 150ms;
}
.hover-white:hover {
  color: #FFF;
  background: #FF0A43;
  text-decoration: none;
}

/*************
  Font Faces
**************/
@font-face {
  font-family: CutiveMono;
  src: url("../../assets/fonts/CutiveMono-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}
.title-large {
  line-height: 1;
}

.title-small, .title-medium, .title-large {
  font-family: OpenSansRegular, sans-serif;
  font-weight: bold;
}

.content-small, .content-medium, .content-large {
  font-family: OpenSansRegular, sans-serif;
}

.monospace {
  font-family: CutiveMono, sans-serif;
}

@media (max-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
    line-height: 1.25;
  }

  .title-large {
    font-size: 28px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 15px;
    line-height: 1.45;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .title-small {
    font-size: 14px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 26px;
  }

  .content-small {
    font-size: 12px;
  }

  .content-medium {
    font-size: 16px;
  }

  .content-large {
    font-size: 18px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .title-small {
    font-size: 16px;
    line-height: 20px;
  }

  .title-medium {
    font-size: 18px;
  }

  .title-large {
    font-size: 30px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 16px;
    line-height: 1.5;
  }

  .content-large {
    font-size: 22px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .title-small {
    font-size: 18px;
    line-height: 22px;
  }

  .title-medium {
    font-size: 30px;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 19px;
    line-height: 1.25;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .title-small {
    font-size: 19px;
    line-height: 24px;
  }

  .title-medium {
    font-size: 26px;
    line-height: 1.2;
  }

  .title-large {
    font-size: 35px;
  }

  .content-small {
    font-size: 15px;
  }

  .content-medium {
    font-size: 18px;
    line-height: 1.4;
  }

  .content-large {
    font-size: 24px;
  }

  .monospace {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .skew-up-top-right {
    margin: 0 -10px -20px;
    padding: 20px 0;
    transform: rotate(-3deg);
  }

  .skew-down-bottom-left {
    margin: -20px -10px 50px;
    padding: 20px 0;
    transform: rotate(-3deg);
  }
}
@media (min-width: 576px) {
  .skew-up-top-right {
    margin: 0 -10px -20px;
    padding: 20px 0;
    transform: rotate(-3deg);
  }

  .skew-down-bottom-left {
    margin: -20px -10px 50px;
    padding: 20px 0;
    transform: rotate(-3deg);
  }
}
@media (min-width: 768px) {
  .skew-up-top-right {
    margin: 0 -10px -30px;
    padding: 30px 0;
    transform: rotate(-3deg);
  }

  .skew-down-bottom-left {
    margin: -30px -10px 50px;
    padding: 30px 0;
    transform: rotate(-3deg);
  }
}
@media (min-width: 992px) {
  .skew-up-top-right {
    margin: 30px -10px -30px;
    padding: 40px 0;
    transform: rotate(-2.5deg);
  }

  .skew-down-bottom-left {
    margin: -30px -10px 50px;
    padding: 30px 0;
    transform: rotate(-2.5deg);
  }
}
@media (min-width: 1200px) {
  .skew-up-top-right {
    margin: 50px -10px -45px;
    padding: 55px 0;
    transform: rotate(-2deg);
  }

  .skew-down-bottom-left {
    margin: -45px -20px 60px;
    padding: 45px 0;
    transform: rotate(-2deg);
  }
}
body, #root {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
}

@media (max-width: 576px) {
  .main {
    padding-bottom: 115px;
  }
}
@media (min-width: 576px) {
  .main {
    padding-bottom: 130px;
  }
}
@media (min-width: 768px) {
  .main {
    padding-bottom: 90px;
  }
}
@media (min-width: 992px) {
  .main {
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-bottom: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
